<template lang="pug">
div
  v-dialog(v-model="dialogOpen" max-width=800 scrollable :fullscreen="$vuetify.breakpoint.xsOnly")
    template(v-slot:activator="{on}")
      v-btn(
        block 
        :color="colour" 
        :disabled="!isFormValid"
        :loading="btnLoading"
        dark 
        large 
        ripple  
        @click="calculate()"
        ) calculate
    v-card(v-if="results" :tile="$vuetify.breakpoint.xsOnly")
      v-card-text(:style="$vuetify.breakpoint.smAndDown? 'height: calc(100vh - 60px); -webkit-overflow-scrolling: touch;' : '-webkit-overflow-scrolling: touch;'")
        BarChart.ma-4(style="height: 225px;" :results="results")
        v-layout.mx-0.py-6.pl-4(
          style="width: inherit;" 
          align-center 
          justify-center 
          row 
          wrap 
          )
          v-flex(xs12 md5 :class="{'mb-8': $vuetify.breakpoint.smAndDown}")
            .body-2.mb-3 Estimated Monthly Rent
            .display-3.font-weight-medium {{ asCurrency(results.estimate) }}
          v-flex(xs12 md3)
            v-layout.mx-0(
              style="width: inherit;" 
              align-center 
              justify-center 
              row 
              wrap 
              )
              v-flex(xs12)
                .caption.mb-1 Montreal Average Rent
                .display-1.font-weight-medium {{ asCurrency(results.city_avg) }}
              v-flex(xs12 :class="{'pt-2': $vuetify.breakpoint.smAndDown, 'pt-4': $vuetify.breakpoint.mdAndUp}")
                .caption.mb-1 Neighbourhood Average Rent
                .display-1.font-weight-medium {{ asCurrency(results.area_avg) }}
      v-divider
      v-card-actions
        v-spacer
        v-btn(text large color="grey" @click="dialogOpen = false") close
        v-btn(outlined large :color="colour" @click="$emit('restart'); results = null; dialogOpen = false") restart
        v-spacer

  v-snackbar(v-model="showSnackbar" top color="#212F3D")
    v-icon.mr-2(dark) mdi-close-circle
    span.font-weight-bold.subtitle-1.text-left(v-text="'Oops... Please try again'")
</template>

<script>
import axios from "axios"
import BarChart from "./BarChart.vue"
import { currency } from "../service"

export default {
  components: {
    BarChart
  },
  props: ["aprt", "isFormValid"],
  data: () => ({
    colour: "#EC545A",
    dialogOpen: false,
    btnLoading: false,
    results: null,

    showSnackbar: false

  }),
  methods: {
    asCurrency(v) {
      return v? currency(v) : 0
    },

    calculate() {
      if (this.results) {
        this.dialogOpen = true
      } else {
        this.btnLoading = true
        let query = Object.keys(this.aprt).map(x => x + "=" + this.aprt[x]).join("&")
        axios({
          method: "GET",
          url: "https://mtlrentsml.appspot.com/?" + query
        })
        .then(res => {
          this.btnLoading = false
          this.results = res.data
          this.dialogOpen = true
        })
        .catch(() => {
          this.showSnackbar = true
          this.btnLoading = false
        })
      }
    }
  }
};
</script>