<template lang="pug">
  v-app
    v-content
      #bg
        .color-filter
          v-container(fluid fill-height)
            v-layout.mx-0(
              style="width: inherit;" 
              align-center 
              justify-center 
              row 
              wrap 
              )
              v-flex(xs12 sm10 md6 lg4)
                .font-weight-bold.white--text(:class="{'display-3': $vuetify.breakpoint.smAndUp, 'display-1 mt-6': $vuetify.breakpoint.xsOnly}") 
                  | Are you paying too much in rent?
                .white--text.mt-6(:class="{'display-1': $vuetify.breakpoint.smAndUp, 'headline': $vuetify.breakpoint.xsOnly}") 
                  | Use our machine learning algorithm to find out.
                v-form(ref="aprtForm")
                  v-layout.mx-0.mt-12(
                    style="width: inherit;" 
                    align-center 
                    justify-center 
                    row 
                    wrap 
                    )
                    v-flex(xs12)
                      v-text-field(v-model="aprt.address" solo label="Address" :rules="[required]")
                    v-flex(xs6).pr-2
                      v-text-field(v-model="aprt.bedrooms" solo type="number" label="Bedrooms" :rules="[required]")
                    v-flex(xs6).pl-2
                      v-text-field(v-model="aprt.bathrooms" solo type="number" label="Bathrooms" :rules="[required]")
                    v-flex(xs12)
                      Results(
                        :aprt="aprt" 
                        :isFormValid="isFormValid"
                        @restart="$refs.aprtForm.reset()")
      v-footer.px-6(height=55 color="#100F13")
        v-spacer
        div
          v-tooltip(top)
            template(v-slot:activator="{on}")
              v-btn(dark text v-on="on" href="https://gitlab.com/Issaf/mtlrents" target="_blank")
                v-icon(large) mdi-gitlab
            div Gitlab
          v-tooltip(top)
            template(v-slot:activator="{on}")
              v-btn(dark text v-on="on" href="https://www.linkedin.com/in/islamsafsaf/" target="_blank")
                v-icon(large) mdi-linkedin
            div LinkedIn
        v-spacer
</template>

<script>
import Results from './components/Results';

export default {
  name: 'App',
  components: {
    Results,
  },
  data: () => ({
    aprt: {
      address: null,
      bedrooms: null,
      bathrooms: null
      // address: "",
      // bedrooms: null,
      // bathrooms: null
    },
    required: v => !!v || "Required field"
  }),
  computed: {
    isFormValid() {
      return this.aprt.address && this.aprt.bedrooms && this.aprt.bathrooms
    }
  }
};
</script>

<style scoped>
  #bg {
    height: calc(100vh - 55px);
    min-height: 485px;
    width: 100vw;
    background-image: url("./assets/bg.jpg");
    background-size: cover; 
    background-position: center;
  }
  .color-filter {
    background-color: rgba(0, 0, 0, .35);
    height: inherit;
    width: inherit;
  }
</style>